@import './font.css';

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: none;
}

h1, #title {
  font-size: 260%;
  margin: 0;
  display: inline;
}

.square {
  font-family: SquareFont;
}

.drawarea {
  border: solid #333;
  border-width: 0 5px 5px 0;
  padding: 1px;
  margin: 1px;
}

.inline {
  display: inline;
}

.infomessage {
  margin-left: 10px;
}

.tooltip.infomessagetooltip {
  font-style: italic;
}

.archive-date-selector.date-selector {
  width: 125px;
  display: inline;
  margin: 11px 20px;
  position: absolute;
}
